.formContainer {
    background-color:  rgba(56, 103, 214, 1);
    color: white;
    box-shadow: 0rem .35rem .4rem 0rem rgba(0, 0, 0, 0.25);
    text-align: center;
    width: 100vw;
    height: 30rem;
}

.form {
    padding-top: 5rem;
    width: 50%;
    margin: auto;
    margin-top:5rem;
}

.headerLogo{
    float: left;
    width: 2.5vw;
    height: 5vh;
    margin-top: 1.5vh;
}

.logoLabel{
    margin-top: 3vh;
    float: left;
    margin-left: .5rem;
    font-weight: 700;
    color: rgba(48, 48, 48, 1);
}

.label {
    display: inline-block;
}

.linkBtn {
    float: right;
    margin-top: 4rem;
    margin-right: 1rem;
    bottom: 0rem;
    transition: .4s ease-in-out;
}

.linkBtn:hover {
    cursor:pointer;
    color: rgba(56, 103, 214, 1);
}

.cardTitle {
    margin-bottom: 2rem;
}

.btnContainer {
    margin-top: 1rem;
}